<html>
<body>
    <form action = '/user/login' method = 'POST'>
	<input name = 'id' type = 'text' placeholder = 'ID'>
	<br/>
	<input name = 'pw' type = 'password' placeholder = 'PW'>
	<br/>
	<button type 'submit'>로그인</button>
    </form>
</body>
</html>