<html>
<body>
    <form action = '/user/register' method = 'POST'>
	<input name = 'id' type = 'text' placeholder = 'ID'>
	<br/>
	<input name = 'pw' type = 'password' placeholder = 'PW'>
	<br/>
	<input name = 'name' type = 'text' placeholder = 'name'>
	<br/>
	(010)-<input name = 'phone' type = 'text' placeholder = '11111111'>
	<br/>
	<input name = 'cat' type = 'text' placeholder = 'g'>
	<br/>
	<input name = 'kg' type = 'text' placeholder = 'AA'>
	<br/>
	<button type 'submit'>회원가입</button>
    </form>
</body>
</html>
